body {
  background-color: black;
  color: white;
}

a {
  color: white;
}
li {
  float: right;
  width: 6%;
}
main {
  text-align: center;
  padding: 50px;
}
nav span span {
  color: red;
}
main span span {
  color: red;
}
.x {
  padding: 10px;
}
